#!/bin/bash

common={{ joinPath .chezmoi.workingTree "/common.sh" }}
source ${common}

gum style \
	--border double \
	--align center \
	"INSTALL"

PACKAGES=""
AURPACKAGES="
sddm-sugar-candy-git
sddm-sugar-dark
sddm-catppuccin-git
sddm-theme-abstractdark-git
"

PACKAGES+="git
openssh

nano
gedit

zsh

bitwarden-cli
xorg

sddm

thunar

bspwm
sxhkd
polybar
picom-git

nitrogen
feh

papirus-icon-theme
"
#dmenu
#rofi
#
#chezmoi
#
#
#dunst

# PACKAGES+="
# networkmanager
# base-devel
# xorg
# xorg-apps
# xf86-input-libinput
# xf86-video-intel
# xorg-fonts
# wayland
# clipmenu
# xss-lock
# xautolock
# "

alterSudo

log "Installing packages..."
pacboiUpdate
pacboi $(echo $PACKAGES | tr -s '\n' ' ')

if ! [ -x "/usr/bin/yay" ]; then
	log "Installing yay..."
	pushd /tmp/
		mkdir -p "/tmp/yay-install/"
		pushd yay-install
			sudo -u "$(whoami)" -n bash -c "curl -fsSL https://aur.archlinux.org/cgit/aur.git/plain/PKGBUILD?h=yay > PKGBUILD"
			sudo -u "$(whoami)" -n makepkg -sicf --needed --noconfirm > /dev/null
		popd

		sudo rm -rf yay-install
	popd
fi

log "Installing AUR packages..."
sudo -u "$(whoami)" yay -S $(echo $AURPACKAGES | tr -s '\n' ' ') --needed --noconfirm > /dev/null

#sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended

# ZSH powerlevel10k theme
#ZSH_PL10K_THEME_DIR="/home/$(whoami)/.oh-my-zsh/custom/themes/powerlevel10k"
#if [ -d "$ZSH_PL10K_THEME_DIR" ]; then
#        # Updating
#        echo "Updating zsh powerlevel10k theme..."
#        pushd "$ZSH_PL10K_THEME_DIR"
#              git pull
#        popd
#else
#        # Installing
#        echo "Installing zsh powerlevel10k theme..."
#        git clone https://github.com/romkatv/powerlevel10k.git "$ZSH_PL10K_THEME_DIR"
#fi
